
html, body {
  font-family: "Roboto";
  margin: 0;
  background-color: #c0b9d8;
}

header {

  background-color: #8c83ae;
  display: flex;
  align-items: center;
}

#main {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
#logo {
  margin: 10px;
  width: 64px;
  height: auto;
}
#logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
header h1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
}
#userContainer {
  display: flex;
  align-items: end;
  padding-left: 20px;
  width: 100%;
}


button {
  background-color: #8c83ae;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 10%;
}

#logOutButton {
  background-color: #60587b;

}

#sidebar {
  margin: 15px 0;

}

#items {
  
  border: 5px solid #8c83ae;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  padding: 20px;
  background-color: white;
}

td {
  padding: 0 7px;

}

#return_button {
  margin-left: 9px;

}

#popup {
  margin-left: 9px;

}